<app-adminnavbar></app-adminnavbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">designation</th>
        <th scope="col">emploeecode</th>
        <th scope="col">phoneno</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
       
        <td>{{i.name}}</td>
        <td>{{i.username}}</td>
        <td>{{i.designation}}</td>
        <td>{{i.emploeecode}}</td>
        <td>{{i.phoneno}}</td>
      </tr>
    </tbody>
  </table>